* {
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

h2{
  font-size:xx-large;
}

.main{
  display: flex;
  align-items: flex-start;
  background-color: blueviolet;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
}

.main__form, .main__section{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: solid black 3px;
  padding: 2vw;
  background-color: white;
  margin: 1vh;
  align-items: stretch;
  justify-content: space-between;
  flex: 1 1 300px;
}

.main__section{
  justify-content: flex-start;
}

.main__section__info{
  display: flex;
  justify-content: space-between;
}

.main__form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.main__form__line {
  display: inline;
  display: flex;
  row-gap: 1vw;
  column-gap: 2vw;
}

.main__form__item {
  flex: 1;
  flex-direction: column;
}

.main__form__buttons{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


button{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 3px;
  border: solid black 3 px;
  flex: 1;
  padding: 2vw;
  font-size: large;
}

.submit-button {
  background-color: blueviolet;
}

.clear-button {
  background-color: orange;
}

input{
  font-size: 3vh;
  margin-top: 1vh;
  width: 100%;
  height: 8vh;
  max-height: 50px;
  border-radius: 3px;
  border: solid 2px lightgray;
}

.task{
  list-style: none;
  margin: 1vw;
  font-weight: bold;
  column-gap: 3vw;
  display: flex;
  transition: 0.5s;
  border-radius: 5px;
  border: solid 2px black;
  flex-basis: content;
}

.task:hover{
  transform: scale(1.05);
  transition: 0.5s;
  border-color: gold;
  box-shadow: 1px 1px 1px yellow;
}

.task::selection{
  border-color: red;
  box-shadow: 1px 1px 1px red;
}

.task-information{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  min-width: 50%;
  max-width: 50%;
  background-position: 50% 50%;
}

h3 {
  color:blueviolet;
}

@media (width <= 600) {
  .main{
    flex-wrap: nowrap;
  }
}